body {
    font-family:'Muli', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.bg-main {
    background-color: #000000;
    color: #fff;
}
.space-section {
    padding: 3%;
}

.navbar-logo a img {
    height: 50px;
}
.navbar-font-size {
    font-size: 1.25rem !important;
}

@media (max-width: 1028px) {
    .navbar-logo {
        display: none;
    }
}

/* section1 */
.bg-section1 {
    /* padding: 10%; */
}

/* section2 */
.bg-section2 {
    background-color: #fff;
}
.wrapper-section2 {
    padding: 5%;
    color: #525252;
}
.icon {
    cursor: pointer;
    color: #525252;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #000000;
}

/* section3 */
.bg-section3 {

}
.wrapper-section3 {
    color: #000000
}
.card-body-size {
    min-height: 250px
}

/* section4 */
.bg-section4 {

}
.wrapper-section4 {
    min-height: 250px;
    max-height: 250px;
}
.logo-option {
    width: 15%;
    padding: 15px;
    /* border-radius: 100%; */
}

/* section5 */
.bg-section5 {
    background-color: #fff;
}
.wrapper-section5 {
    padding: 2%;
    color: #525252;
}